<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.buk.MainActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.buk.MainMenuActivity"
            android:label="Main Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buklist.buk.savedBuks"
            android:label="savedBuks" >
        </activity>
        <activity
            android:name="com.example.buk.ViewListsActivity"
            android:label="@string/title_activity_view_lists"
            android:parentActivityName="com.example.buk.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.buk.ListView"
            android:label="@string/title_activity_list_view"
            android:parentActivityName="com.example.buk.ViewListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.ViewListsActivity" />
        </activity>
        <activity
            android:name="com.example.buk.BookView"
            android:label="@string/title_activity_book_view"
            android:parentActivityName="com.example.buk.ListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.ListView" />
        </activity>
        <activity
            android:name="com.example.buk.CreateList"
            android:label="@string/title_activity_create_list"
            android:parentActivityName="com.example.buk.ViewListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.ViewListsActivity" />
        </activity>
        <activity
            android:name="com.example.buk.AfterScanListPicker"
            android:label="@string/title_activity_after_scan_list_picker"
            android:parentActivityName="com.example.buk.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.buk.SearchForBookActivity"
            android:label="Search For Book"
            android:parentActivityName="com.example.buk.SearchForBookActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.buk.MainMenuActivity" />
        </activity>
    </application>

</manifest>
